html {
    color: #222;
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    font-kerning: 0px;
    letter-spacing: normal;
}

body {
    font-family: 'Shadows Into Light', cursive;
    margin: 0px;
}

.bg {
    background: url('') fixed center center;
    height: 1800px;
    text-align: center;
    line-height: 100%;
    background-size: cover;
}

.bg-blur {
    /* filter: url(blur.svg#blur); FireFox, Chrome, Opera */
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
strong,
weak {
    font-weight: 400;
    font-kerning: 0px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    line-height: 1.3;
}

h3 {
    font-size: 0.7em;
    line-height: 1.3;
    font-family: 'Abel';
}

h4 {
    font-size: 0.7em;
    line-height: 1.3;
    font-family: Abel;
}

h5 {
    font-size: 0.7em;
    line-height: 1.3;
    font-family: Abel;
    color:darkgray;
    
}

.title {
    font-size: 1.8em;
    line-height: 1.3;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 0.4em;
    color:darkslategray;
}

.subtitle {
    font-size: 0.7em;
    line-height: 1.3;
    font-family: Abel;
    
}

a {
    color: darkkhaki;
}

strong {
    color: darkslategray;
}

weak {
    font-size: 0.5em;
    font-family: Abel;
    margin-right: 1.5em;
}

.container {
    font-family: 'Roboto Slab', serif;
    width: 100%;
}

.container-front {
    position: absolute;
    text-align: center;
}

#left {
    font-family: 'Roboto Slab', serif;
    padding-left: 0px;
    width: 0%;
    float: left;
}

#middle {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    float: left;
    width: 86%;
    left: 7%;
    background-color: ;
    position: relative;
}

#right {
    font-family: 'Roboto Slab', serif;
    padding-right: 0px;
    width: 0%;
    float: right;
}

#flow {
    font-family: 'Roboto Slab', serif;
    color: darkcyan;
    border-collapse: separate;
    border-spacing: 0em 2.2em;
    margin: -3.2em 0em -0.8em 0em;
    width: 100%;
}

#flow_mobile {
    display: none;
}

th {
    border-right: 1px solid darkcyan;
    border-top: 1px solid darkcyan;
    border-bottom: 1px solid darkcyan;
    width: 3px;
}

th.space {
    border: none;
    width: 1%;
}

flow.normal {
    border-bottom: 0px;
}

.col-md-12 {
    height: 70px;
    color: crimson;
    border-style: none;
    border-color: grey;
    border-width: 0px;
    font-family: 'Roboto Slab', serif;
    padding-left: 0px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 40px;
}

#type {
    border: 0px;
    text-align: right;
}

td {
    width: 5px;
    padding-right: 0.2em;
}

td.row {
    align-content: center;
}

td.content1 {
    background-color: none;
    padding-right: 2%;
    width: 28%;
    text-align: right;
    color: darkgray;
}

td.content2 {
    padding: 1em;
    width: 200px;
    margin-right: 1em;
    color: darkgray;
    font-family: Abel;
}

td.content3 {
    text-align: right;
}

td.content {
    background: rgba(0, 0, 0, .05);
    padding: 0.8em 1em 0.5em 1em;
    width: 200px;
    line-height: 1.2em;
    font-family: Abel;
    font-size: 1.1em;
    border-radius: 5px;
}

td.content:hover {
    background-color: crimson;
    color: white;
}

td.content:hover strong {
    background-color: crimson;
    color: white;
}

#team {
    font-family: 'Roboto Slab', serif;
    border-collapse: separate;
    border-spacing: 0.5em 0em;
    width: 100%;
}

team.normal {
    border-bottom: 0px;
}

ul {
    width: 100%;
    list-style-type: none;
    font-size: 0;
    padding-left: 2.5%;
}

li {
    display: inline-block;
    list-style-type: none;
    padding-right: 1.2%;
    margin: 0%;
    width: 15.6666666%;
    background-repeat: no-repeat;
    height: 100%;
    line-height: 100%;
    /*  background-color:chartreuse;*/
    *display: inline;
    *zoom: 1;
    font-size: 15px;
}

li:last-child,
li.last-child {
    padding-right: 0%;
}

ul img {
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-bottom: 1.5em;
    margin-top: 0em;
}

.button {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid lightgray;
    text-align: center;
    padding: 4px 0px 3px 0px;
    width: 7em;
    transition: all 0s;
    cursor: pointer;
    font-size: 0.5em;
    line-height: 0.8;
    font-family: Abel;
    color: lightgray;
}

.button_strong {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid darkcyan;
    text-align: center;
    padding: 4px 0px 3px 0px;
    width: 5em;
    transition: all 0s;
    cursor: pointer;
    font-size: 0.5em;
    line-height: 0.8;
    font-family: Abel;
    color: darkcyan;
    margin-top: 1.5em;
}

td.content:hover button {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid white;
    text-align: center;
    padding: 4px 0px 3px 0px;
    width: 7em;
    transition: all 0s;
    cursor: pointer;
    margin: 0px;
    font-size: 0.5em;
    line-height: 0.8;
    font-family: Abel;
    color: white;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 5px;
    transition: 0.5s;
    color: white;
}

.button:hover span {
    padding-right: 8px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.social{
padding:0%;
    margin: -6px 0% 10px 0%;
    background-color:;
   font-size: 0px;
}

.social ul{
padding:0px;
    margin: 0px;
    list-style-type: none;
}

.social li {
display:inline;
    list-style-type: none;
    padding: 0px;
    margin: 0px;


}

.social ul img {
    height:1em;
width:auto;
    border: 0px;
    padding-right: 0.3em;
    margin: 0px;
    border-radius: 0%;
    
}

.work {
    margin-bottom: 100px;
    text-align: center;
}

.work ul {
    width: 100%;
    list-style-type: none;
    font-size: 0;
    padding-left: 0%;
}

.work li {
    display: inline-block;
    list-style-type: none;
    padding-right: 2%;
    margin: 0%;
    width: 32%;
    background-repeat: no-repeat;
    background-color: ;
}

.work li:last-child,
li.last-child {
    padding-right: 0%;
}

.project {
    height: 70px;
    align-content: center;
    line-height: 70px;
}

.blur {
    /* filter: url(blur.svg#blur); FireFox, Chrome, Opera */
    -webkit-filter: blur(60px);
    /* Chrome, Opera */
    -moz-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=60, MakeShadow=false);
    /* IE6~IE9 */
    vertical-align: middle;
}

.blur:hover {
    /* filter: url(blur.svg#blur); FireFox, Chrome, Opera */
    -webkit-filter: blur(0px);
    /* Chrome, Opera */
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false);
    /* IE6~IE9 */
}

.front {
    background: rgba(0, 0, 0, .05);
    font-size: 1.5em;
    width: 100%;
    height: 250px;
    line-height: 100px;
    border-radius: 5px;
    display: inline-block;
    font-family: Abel;
    font-size: 1.1em;
}

.front:hover {
    background: rgba(255, 255, 255, 0);
    font-size: 1.5em;
    width: 100%;
    height: 250px;
    line-height: 100px;
    border-radius: 10px;
    font-size: 0em;
}

.alertify-buttons {
    text-align: center;
}

.alertify-message {
    padding: 0px 20px 20px 20px;
    line-height: 1.8em;
}

.alertify-inner {
    padding-bottom: 20px;
}

.temp {}

@media only screen and (max-width: 768px) {
    .bg {
        background: url('') fixed center center;
        height: 1800px;
        text-align: center;
        line-height: 100%;
        background-size: cover;
    }
    .col-md-12 {
        height: 50px;
        color: crimson;
        border-style: none;
        border-color: grey;
        border-width: 0px;
        font-family: 'Roboto Slab', serif;
        padding-left: 0px;
        text-align: center;
        line-height: 50px;
        margin-bottom: 30px;
    }
    #middle {
        font-family: 'Roboto Slab', serif;
        padding: 0;
        float: left;
        width: 90%;
        left: 5%;
        background-color: ;
        position: relative;
    }
    #flow {
        font-family: 'Roboto Slab', serif;
        color: darkcyan;
        border-collapse: separate;
        border-spacing: 0em 1.5em;
        margin: -1.5em 0em -0.8em 0em;
        width: 100%;
        table-layout: fixed;
    }
    h1 {
        font-size: 2.5em;
    }
    .title {
        font-size: 1.5em;
        line-height: 1.3;
        font-family: 'Roboto Slab', serif;
        padding-bottom: 0em;
    }
    .subtitle {
        font-size: 0.7em;
        line-height: 1.3;
        font-family: Abel;
        display: none;

    }
    weak.mobile {
        font-size: 0.8em;
        font-family: Abel;
        margin-right: 0.5em;
    }
    #flow {
        display: none;
    }
    #flow_mobile {
        font-family: 'Roboto Slab', serif;
        color: darkcyan;
        border-collapse: separate;
        border-spacing: 0em 0em;
        margin: -2.2em 0em -0.8em 0em;
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    td.content1_mobile {
        background: rgba(0, 0, 0, 0);
        padding: 1.4em 1em 0.4em 1em;
        width: 100%;
        line-height: 1.2em;
        font-family: Abel;
        font-size: 1em;
        border-radius: 5px;
        text-align: center;
    }
    td.content_mobile {
        background: rgba(0, 0, 0, .05);
        padding: 0.6em;
        width: 100%;
        line-height: 1.3em;
        font-family: Abel;
        font-size: 0.9em;
        border-radius: 5px;
        text-align: center;
        color: darkgray;
    }
    th.mobile {
        border-left: 1px solid darkcyan;
        border-right: 1px solid darkcyan;
        border-bottom: 1px solid darkcyan;
        border-top: 0px solid darkcyan;
        width: 100%;
    }
    td.mobile {
        width: 5px;
        padding-right: 0.2em;
        height: 5px;
        padding-top: 0em;
        padding-bottom: 0.6em;
        font-size: 0.7em;
        line-height: 1.3;
        font-family: Abel;
    }
    tr.mobile {
        padding: 0%;
    }
    td.content:hover {
        background: rgba(0, 0, 0, .05);
        color: darkcyan;
    }
    td.content:hover strong {
        background: rgba(0, 0, 0, .0);
        color: darkslategray;
    }
    ul {
        padding: 0%;
        margin-bottom: -5%;
        
    }
    li {
        display: inline-block;
        list-style-type: none;
        padding-right: 0%;
        padding-bottom: 5%;
        margin: 0%;
        width: 33.33333%;
        background-repeat: no-repeat;
        height: 100%;
        line-height: 100%;
        /*  background-color:chartreuse;*/
        font-size: 15px;
        text-align: center;
    }
    
   .social ul{
padding:0px;
    margin: 0px;
    list-style-type: none;
       text-align: center;
}
    
    ul img {
        width: 60%;
        border: 1px solid lightgray;
        border-radius: 50%;
        margin-bottom: 1.5em;
        margin-top: 0em;
    }
    .button {
        display: none;
    }
    .work li {
        display: inline-block;
        list-style-type: none;
        padding-right: 2%;
        margin: 0%;
        width: 100%;
        background-repeat: no-repeat;
    }
    .project {
        height: 50px;
        align-content: center;
        line-height: 50px;
    }
    .front,
    .front:hover {
        background: rgba(0, 0, 0, .05);
        font-size: 1.5em;
        width: 100%;
        height: 230px;
        line-height: 100px;
        border-radius: 5px;
        display: inline-block;
        font-family: Abel;
        font-size: 1.1em;
    }
}